{{ define "achievements"}}

<div class="section" id="achievements">
    <h2 class="section-title mb-4" data-i18n="achievements">Achievements</h2>

    <ul class="list-group list-group-flush">

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div data-i18n="ai_arrow">
                <strong>Aug 2024:</strong> Hackathon "AI-Arrow"
            </div>
            <span class="badge bg-success ms-4" data-i18n="participant">Participant</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div data-i18n="deadline">
                <strong>Apr 2024:</strong> Case-Championship "Deadline" by T-bank
            </div>
            <span class="badge bg-primary" data-i18n="place_4">4th</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div data-i18n="bolshie_vyzovy">
                <strong>Mar 2023:</strong> All-Russian regional stage competition nanotechnology project “Bolshie
                vyzovy”
            </div>
            <span class="badge bg-success ms-4" data-i18n="participant">Participant</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div data-i18n="robofinal">
                <strong>Jul 2022:</strong> National final of Russian Robotics Olympiad
            </div>
            <span class="badge bg-warning text-dark" data-i18n="place_3">3rd place</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div data-i18n="school_comp">
                <strong>Jul 2023:</strong> School Robotics Competition
            </div>
            <span class="badge bg-success ms-4" data-i18n="participant">Participant</span>
        </li>

    </ul>
</div>


{{ end }}