
{{ define "achievements"}}

<div class="section" id="section3">
    <div class="section-title" data-i18n="achievements">Achievements</div>

    <div class="container mt-5">
        <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>Jan 2024:</strong> Hackathon "AI-Weekend"
                </div>
                <span class="badge bg-success ms-4">1st Place</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>Oct 2023:</strong> CTF "KazanCTF"
                </div>
                <span class="badge bg-warning text-dark">Finalist</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>Jul 2023:</strong> School Robotics Competition
                </div>
                <span class="badge bg-secondary ms-4">Participant</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>May 2022:</strong> Codeforces Round #XYZ
                </div>
                <span class="badge bg-primary">Top 20%</span>
            </li>

        </ul>
    </div>
</div>

{{ end }}