{{ define "header" }}

<div class="section" id="section0">
    <div class="container pt-5">
      <div class="row align-items-center">
        <!-- Text: Left side -->
        <div class="col-md-6">
          <h2 data-i18n="aboutmetitle">About Me</h2>
          <p data-i18n="aboutme">
            Innopolis University student. Below you can see my stack, projects, and achievements.
          </p>
        </div>
  
        <!-- Image: Right side -->
        <div class="col-md-6 text-md-end text-center">
          <img src="/assets/images/img.jpg" width="150" height="195" alt="Me" class="img-fluid rounded mb-2" />
          <h4 class="mt-2" data-i18n="name">Khasan Sadykov</h4>
          <p class="text-muted" data-i18n="age">Age: 18</p>
        </div>
      </div>
    </div>
  </div>
  
{{ end }}