
{{ define "more" }}

<div class="section" id="add">
    <div class="section-title" data-i18n="More">More</div>

    <div class="container mt-5 text-center">

        <!-- Contact Info -->
        <div class="mb-4">
            <h5 data-i18n="contact_title">Contact</h5>
            <p>Email: <a href="mailto:k.sadykov@innopolis.university">email</a></p>
            <p>Telegram: <a href="https://t.me/tomatocoder" target="_blank">@tomatocoder</a></p>
        </div>

        <!-- Social Links -->
        <div class="mb-4">
            <h5 data-i18n="profiles_title">Profiles</h5>
            <a href="https://github.com/tomatoCoderq" target="_blank" class="me-3">
                <i class="bi bi-github"></i> GitHub
            </a>
            <a href="https://codeforces.com/profile/tomator" target="_blank" class="me-3">
                <i class="bi bi-code-square"></i> CodeForces
            </a>
        </div>

        <!-- Blog Preview -->
        <div class="mb-4">
            <h1 data-i18n="ending"><b>Thanks for attention!</b></h1>
        </div>


    </div>
</div>

{{ end }}