{{ define "projects" }}

<div class="projectsc" id="projectsc">
    <div class="section-title" data-i18n="projectsc">Projects</div>

    <div class="container mt-5">
        <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://github.com/tomatoCoderq/gitnotes" target="_blank" class="text-decoration-none">
                    GitNotes |
                </a>
                <small data-i18n="gitnotes">CLI Tool made with Cobra to keep notes connected to
                    branch/version</small>
                <span class="badge bg-secondary ">Go / Cobra</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://github.com/tomatoCoderq/KachProxyAPIproject1" target="_blank"
                    class="text-decoration-none">
                    KachalovProxyAPI |
                </a>
                <small data-i18n="kach">Small leigthweight proxy created for notification bot</small>
                <span class="badge bg-secondary">Go / Gin / Colly</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://github.com/tomatoCoderq/queue_bot" target="_blank"
                    class="text-decoration-none">
                    Queue Bot |
                </a>
                <small data-i18n="queue_bot"> Bot for school robotics department to controll usage of printers,
                    tasks, and penalties</small>
                <span class="badge bg-secondary ms-4">Python / Aiogram / SQLite</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://github.com/tomatoCoderq/dnd-bot" target="_blank" class="text-decoration-none">
                    Dnd Bot |
                </a>
                <small data-i18n="dnd_bot"> Bot for hackathon that simplify the conducting of game for
                    masters</small>
                <span class="badge bg-secondary ms-4">Python / SQLite / Aiogram / OpenAIAPI</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="https://github.com/yourname/project4" target="_blank" class="text-decoration-none">
                    Personal Portfolio Website |
                </a>
                <small data-i18n="portfolio_info"> This website you're looking at right now :)</small>
                <span class="badge bg-secondary">HTML / CSS / JS</span>
            </li>
        </ul>
    </div>
</div>

{{ end }}