<
{{ define "stack"}}
<div class="section" id="techstack">
    <div class="section-title" data-i18n="techstack">Tech Stack</div>

    <div class="container mt-5">
        <div class="row justify-content-center g-4">

            <!-- Tool 1 -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Python</h5>
                    <small class="mb-0" data-i18n="pythoninfo">Actively used for robotics, CV, and bots</small>
                </div>
                <img src="/assets/icons/python.svg" alt="Python" width="50" height="50">
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Aiogram</h5>
                    <small class="mb-0" data-i18n="aiogram_info">Created bots for hackathons and singletone
                        orders</small>
                </div>
                <img src="/assets/icons/aiogram.svg" alt="Aiogram" width="50" height="50">
            </div>

            <!-- Tool 2 -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Go</h5>
                    <small class="mb-0" data-i18n="go_info">My current main backend tool</small>
                </div>
                <img src="/assets/icons/go.svg" alt="Go" width="50" height="50">
            </div>

            <!-- Tool 3 -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">С++</h5>
                    <small class="mb-0" data-i18n="cpp_info">CF contests and university assignments</small>
                </div>
                <img src="/assets/icons/cpp.svg" alt="PostgreSQL" width="50" height="50">
            </div>

            <!-- Tool 4 -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Git/Github</h5>
                    <small class="mb-0" data-i18n="github_info">Kinda obviously</small>
                </div>
                <img src="/assets/icons/github.svg" alt="Github" width="50" height="50">
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">PostgreSQL/SQLite</h5>
                    <small class="mb-0" data-i18n="psql_info">DB for most of the projects</small>
                </div>
                <img src="/assets/icons/psql.svg" alt="PostgreSQL" width="50" height="50">
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">Arduino C</h5>
                    <small class="mb-0" data-i18n="arduino_info">For robotics competitions and hobby</small>
                </div>
                <img src="/assets/icons/arduino.svg" alt="Arduino" width="50" height="50">
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="mb-0">FastAPI</h5>
                    <small class="mb-0" data-i18n="fastapi_info">In progress...</small>
                </div>
                <img src="/assets/icons/fastapi.svg" alt="FastAPI" width="50" height="50">
            </div>

        </div>
    </div>
    </div>

{{ end }}